button {
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  width: max-content;
}
button::after { border: none }

.button-hover {
	color:rgba(0, 0, 0, 0.6);
	background-color:#fff;
}
/* 介绍 */
.introduce{
	margin-top: -10rpx;
}
.introduce .content{
	background-color: #FFFFFF;
	padding-top: 10rpx;
	margin-top: -10rpx;
	border-radius: 0 0 16rpx 16rpx;
	/* box-shadow: 0px 0px 10px 0px rgba(104, 103, 139, 0.08); */
}

/* 个人名片中 介绍卡片通用样式 */
.card{
	padding: 30rpx;
	background-color: #FFFFFF;
	margin-top: 30rpx;
	box-shadow: 0px 0px 10px 0px rgba(104, 103, 139, 0.08);
	border-radius: 16rpx;
}
.card_title{
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 44rpx;
	padding-bottom: 20rpx;
}
.card_desc{
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #777777;
	line-height: 54rpx;
	color: #777777;
}
/* 自定义tabs */
.custom_tabs{
	background: #FFFFFF;
	box-shadow: 0px 0px 20rpx 0px rgba(104, 103, 139, 0.08);
	border-radius: 16rpx;
	margin-top: 30rpx;
	overflow: hidden;
	.line{
		height: 1px;
		background-color: #EDEDED;
		position: relative;
		width: 100%;
		top: 93rpx;
	}
}

// 记录公共样式
.logs_card{
	background-color: #FFFFFF;
	padding: 20rpx 30rpx 30rpx;
	margin-top: -10rpx;
}
// 公共描述
.desc{
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	line-height: 50rpx;
}
// title 全局样式标题
.custom_title{
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #222222;
}

// 距离底部距离
.spacing{
	height: 188rpx;
}

// 居中对齐
.align-items{
	display: flex;
	align-items: center;
}
// 加载数据样式
.loading_wrap{
	display: flex;
	justify-content: center;
	color: #999;
	padding: 10rpx 0 20rpx;
}
.hidden{
	display: none;
}
// 
.empty_view{
	margin-top: 50rpx;
}

// 导航栏吸顶时样式变化	
.isFix{
	position: relative;
	top: -6rpx;
	z-index: 1002;
	width: 100vw;
}