button {
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  width: max-content;
}
button::after { border: none }

.button-hover {
	color:rgba(0, 0, 0, 0.6);
	background-color:#fff;
}
/* 介绍 */
.introduce{
	margin-top: -10rpx;
}
.introduce .content{
	background-color: #FFFFFF;
	padding-top: 10rpx;
	margin-top: -10rpx;
	border-radius: 0 0 16rpx 16rpx;
	/* box-shadow: 0px 0px 10px 0px rgba(104, 103, 139, 0.08); */
}

/* 个人名片中 介绍卡片通用样式 */
.card{
	padding: 30rpx;
	background-color: #FFFFFF;
	margin-top: 30rpx;
	box-shadow: 0px 0px 10px 0px rgba(104, 103, 139, 0.08);
	border-radius: 16rpx;
}
.card_title{
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #333333;
	line-height: 44rpx;
	padding-bottom: 20rpx;
}
.card_desc{
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #777777;
	line-height: 54rpx;
	color: #777777;
}
/* 自定义tabs */
.custom_tabs{
	background: #FFFFFF;
	box-shadow: 0px 0px 20rpx 0px rgba(104, 103, 139, 0.08);
	border-radius: 16rpx;
	margin-top: 30rpx;
	overflow: hidden;
	.line{
		height: 1px;
		background-color: #EDEDED;
		position: relative;
		width: 100%;
		top: 93rpx;
	}
}

// 记录公共样式
.logs_card{
	background-color: #FFFFFF;
	padding: 20rpx 30rpx 30rpx;
	margin-top: -10rpx;
}
// 公共描述
.desc{
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	line-height: 50rpx;
}
// title 全局样式标题
.custom_title{
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: #222222;
}

// 距离底部距离
.spacing{
	height: 188rpx;
}

// 居中对齐
.align-items{
	display: flex;
	align-items: center;
}
// 加载数据样式
.loading_wrap{
	display: flex;
	justify-content: center;
	color: #999;
	padding: 10rpx 0 20rpx;
}
.hidden{
	display: none;
}
// 
.empty_view{
	margin-top: 50rpx;
}

// 导航栏吸顶时样式变化	
.isFix{
	position: relative;
	top: -8rpx;
	z-index: 1002;
	width: 100vw;
}

// 搜索页面
.search_page{
	.list-cell {
		display: flex;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 30rpx;
		overflow: hidden;
		color: #323233;
		font-size: 14px;
		line-height: 24px;
		background-color: #fff;
		border-bottom: 2rpx solid #f8f8f8;
		.icon {
			min-width: 96rpx;
			height: 96rpx;
			text-align: center;
			line-height: 96rpx;
			font-size: 42rpx;
			color: #ffffff;
			border-radius: 10rpx;
			background-color: #d2e4f8;
		}
		.info {
			margin-left: 40rpx;
			.name {
				width: 500rpx;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.desc {
				font-size: 28rpx;
			}
		}
	}
}
// 文本单行隐藏
.text_hidden {
  overflow: hidden; /*超出部分隐藏*/
  white-space: nowrap; /*禁止换行*/
  text-overflow: ellipsis; /*省略号*/
}


button {
	margin: 0;
	padding: 0;
	outline: none;
	border-radius: 0;
	background-color: transparent;
	width: max-content;
}
button::after {
	border: none;
}

.button-hover {
	color: rgba(0, 0, 0, 0.6);
	background-color: #fff;
}
.title {
	font-size: 32rpx;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 600;
	color: #0a0b26;
	line-height: 44rpx;
	padding-bottom: 20rpx;
}

.desc {
	font-size: 24rpx;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #777777;
	line-height: 54rpx;
	color: #777777;
}

/* 刷新动画 */
.pulldown-loadng {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f5f6fa;
	height: 80rpx;
}
.loading-icon-text {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26rpx;
	color: #999;
	width: 100%;
	height: 80rpx;
}
.loading-icon-text image {
	width: 50rpx;
	height: 50rpx;
	margin-right: 10rpx;
}

@keyframes loadingImg {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loadingImg {
	animation: loadingImg 1.5s linear infinite;
}

// 搜索输入框
.search_input {
	width: 100%;
	border-radius: 60rpx;
	padding: 12rpx 40rpx;
	height: 64rpx;
	box-sizing: border-box;
	background: #f0f0f0;
	position: relative;
	top: -4px;
}
// 底部操作按钮通用样式
.operation {
	position: fixed;
	width: 100%;
	box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.05);
	bottom: 0;
	display: flex;
	height: 174rpx;
	padding: 0rpx 50rpx;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	.btn_info {
		margin-left: 20rpx;
		width: 234rpx;
	}
}

.position_center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
// 导入自定义按钮样式
@import './button.scss';
